@media only screen and (min-width: 800px) {
  .main-content {
    display: flex;
    flex-wrap: wrap;
  }

  .img-container {
    height: 200px;
  }

  .question-box,
  .results-box {
    max-width: 100%;
  }

  ul {
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: -2rem;
  }

  li {
    width: 20rem;
  }

  .results-box li {
    width: 30rem;
  }

  .loader {
    position: relative;
    height: 0.8rem;
    width: 100%;
    border: 2px solid var(--white);
    border-radius: 1rem;
    overflow: hidden;
  }

  .loader::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    background: var(--gradient);
    animation: 3s progression linear;
  }

  @keyframes progression {
    to {
      width: 100%;
    }
  }

  /*stop rotation*/
  @keyframes rotation {
    100% {
      transform: rotate(0deg);
    }
  }
}
