@media only screen and (min-width: 800px) {
  .main-content {
    display: flex;
    flex-wrap: wrap;
  }

  .img-container {
    height: 200px;
  }

  .question-box {
    max-width: 100%;
  }

  ul {
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: -2rem;
  }

  li {
    width: 20rem;
  }
}
