:root {
  --white: #fff;
  --almost-black: #242824;
  --gradient: linear-gradient(187deg, #310f38 0%, #821e97 63%, #971e84 100%);
  --transitions: all 0.4s linear;
}

html {
  font-size: 20px;
}

body {
  margin: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
  background-image: url("/assets/images/background-gb3a5ca660_1920.jpg");
  color: var(--white);
  font-family: "Gruppo", cursive;
}

h1 {
  text-align: center;
}

h2 {
  margin-bottom: 3rem;
}

.img-container {
  height: 150px;
  width: 100%;
  margin: 0 0 2rem;
}

figcaption {
  margin-left: 0.5rem;
  font-size: 0.8rem;
  max-width: 80%;
  padding-top: 0.5rem;
}

img {
  display: block;
  height: 80%;
  border-radius: 2rem;
}

.question-box,
.results-box {
  background: var(--almost-black);
  padding: 1rem;
  border-radius: 2rem;
  max-width: 80%;
  margin: auto;
}

.results-box {
  max-width: 100%;
}

.question-box p {
  max-width: 350px;
  line-height: 1.5rem;
}

.options-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1rem;
}

ul {
  padding-left: 0;
  max-width: 80%;
  margin: auto;
}

ol {
  line-height: 1.5rem;
}

li {
  list-style-type: none;
}

.answer-key-question {
  margin-bottom: 2rem;
}

.answer-key-option {
  list-style-type: lower-alpha;
  line-height: 2rem;
}

.answer-key-question::marker,
.answer-key-option::marker {
  font-size: 1.2rem;
  font-weight: bold;
}

li label {
  display: flex;
  align-items: baseline;
  background-color: var(--almost-black);
  border-radius: 2rem;
  margin-bottom: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
}

li label:hover {
  cursor: pointer;
  background-color: var(--white);
  color: var(--almost-black);
  transition: var(--transitions);
}

.selected-label {
  background: var(--gradient);
}

.selected-label:hover {
  color: var(--white);
}

li label::before {
  content: " ";
  height: 3rem;
  width: 3rem;
  background-color: var(--white);
  border-radius: 2rem;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: var(--transitions);
}

li label:hover::before {
  background: var(--gradient);
}

li label::after {
  content: attr(data-content);
  color: var(--almost-black);
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-60%);
  font-size: 2rem;
}

li label:hover::after {
  color: var(--white);
  font-weight: bold;
  transition: var(--transitions);
}

li label p {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  padding-left: 3rem;
}

input[type="radio"] {
  display: none;
}

.btn-container {
  text-align: right;
  max-width: 95%;
  margin-bottom: 2rem;
}

.restart-container {
  margin: 5rem auto 3rem;
  text-align: center;
}

.start,
.play-again {
  font: 1.2rem "Gruppo", cursive;
  padding: 0.5rem 3rem;
  background: var(--gradient);
  color: var(--white);
  cursor: pointer;
  border: none;
  border-radius: 2rem;
  position: relative;
  transition: var(--transitions);
}

.start:hover,
.play-again:hover {
  background: var(--white);
  color: var(--almost-black);
  font-weight: bold;
}

.start::after,
.play-again::after {
  content: ">>";
  font-weight: bold;
  line-height: 2.2rem;
  height: 2.5rem;
  width: 2.5rem;
  background: var(--gradient);
  color: var(--white);
  border-radius: 2rem;
  position: absolute;
  right: -10%;
  top: 50%;
  transform: translateY(-50%);
  transition: var(--transitions);
  opacity: 0;
}

.start:hover::after,
.play-again:hover::after {
  opacity: 1;
  right: -1%;
}

.next {
  font-size: 2rem;
  background: var(--gradient);
  color: var(--white);
  cursor: pointer;
  border: none;
  border-radius: 2rem;
  transition: var(--transitions);
}

.next:hover {
  color: var(--almost-black);
  background: var(--white);
}

.loader {
  width: 2rem;
  height: 2rem;
  border: 3px solid var(--white);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

a {
  text-decoration: none;
}

footer {
  flex: 0 0 100%;
  text-align: center;
  align-self: flex-end;
  margin-bottom: 1rem;
}

footer a {
  color: var(--white);
  text-decoration: underline;
}
